<ion-view>
  <!--头部导航-->
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <a class="button button-icon icon ion-ios-arrow-left" href="#/tab/dash"></a>
    </div>
    <h1 class="title">{{newsDetailData.source}}</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-upload-outline" ng-click="share()"></button>
    </div>
  </ion-header-bar>
  <!--内容-->
  <ion-content class="padding" on-swipe-right="onSwipeRight()">
    <div ng-bind-html="kandiandetailHtml"></div>
  </ion-content>
</ion-view>
