<ion-view>
  <!--头部导航-->
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <a class="button button-icon icon ion-ios-arrow-left" href="#/tab/account"></a>
    </div>
    <h1 class="title">关于我们</h1>
  </ion-header-bar>
  <!--内容-->
  <ion-content class="padding" on-swipe-right="onSwipeRight()">
    <div class="list card">

      <div class="item item-avatar">
        <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1032920248,1587554527&fm=23&gp=0.jpg">
        <h2>荻野千寻</h2>
        <p>july 20, 2001</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://img5.imgtn.bdimg.com/it/u=2965382422,2198599691&fm=23&gp=0.jpg">
        <p>
          《千与千寻》是一部由吉卜力工作室制作的日本动画电影，导演和编剧为宫崎骏。《千与千寻》于2001年7月20日在日本首映，创下约2350万观影人次和304亿日元的票房收入，成为日本历史上最卖座的影片。《千与千寻》是宫崎骏在《幽灵公主》宣布息影之后的出山力作，被誉为宫崎骏的《爱丽丝梦游仙境》。故事讲述一个小女孩在神灵异世界里发生的故事。《千与千寻》获得柏林国际电影节最高荣誉的金熊奖，且是目前唯一一部获得金熊奖的动画电影。同时亦获得第75届奥斯卡最佳动画长片奖
        </p>
        <p>
          <a href="" class="subdued">1 Like</a>
          <a href="" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
