<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!--日报界面-->
  <ion-tab title="日报" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!--读书界面-->
  <ion-tab title="视频" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!--画报界面-->
  <ion-tab title="画报" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter" href="#/tab/love">
    <ion-nav-view name="tab-love"></ion-nav-view>
  </ion-tab>

  <!--我的界面-->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
